.cart {
  
}
.cart-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  font-weight: bold;
}
.cart-btn {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.cart-btn button {
  padding: 0.35rem 1.5rem;
  border-radius: 15px;
  cursor: pointer;
}
.btn-close {
  background: transparent;
  border: 1px solid #641f04;
  text-transform: capitalize;
  color: #641f04;
  font-weight: bold;
}
.btn-order {
  background: #641f04;
  border: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}
